---
import { Image } from "astro:assets";
import logo from "../images/logo.svg";
---

<footer class="bg-darkAlt px-8 py-20 text-sm">
    <ul class="flex justify-center gap-10 mb-14 list-none">
        <li>
            <a href="/about" class="text-light text-base"> About </a>
        </li>
        <li>
            <a href="/pricing" class="text-light text-base"> Pricing </a>
        </li>
        <li>
            <a href="/terms_of_use" class="text-light text-base"> Terms of Use </a>
        </li>
        <li>
            <a href="/privacy_policy" class="text-light text-base"> Privacy Policy </a>
        </li>
        <li>
            <a href="/support" class="text-light text-base"> Support </a>
        </li>
        <li>
            <a href="/contact" class="text-light text-base"> Contact Us </a>
        </li>
    </ul>
    <Image src={logo} alt="Logo" width={50} height={50} class="h-14 w-auto mx-auto mb-12 block" />
    <p class="text-lightOff text-center">
        &copy; Copyright by{" "}
        <a href="/" class="text-light text-base"> Website </a>{" "}
        | All rights reserved.
    </p>
</footer>
